@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* A clean, light gray enterprise background */
}

* {
  -ms-overflow-style: none;     /* IE / Edge */
}
*::-webkit-scrollbar {
  display: none;                /* Chrome / Safari */
}